# Working with Dates and Times

-----

In this notebook, we introduce how to work efficiently with dates and times in Python.

-----

## Table of Contents

[Time](#Working-with-Times)

[Working with Dates](#Working-with-Dates)

[Working with Times](#Working-with-Times)


[](#)


[](#)


[](#)


-----

Before proceeding with the rest of this notebook, we first include the notebook setup code.

-----

In [1]:
# Set up Notebook

% matplotlib inline

# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# These two lines suppress warnings that sometimes
# occur when making visualizations
import warnings
warnings.filterwarnings('ignore')

# Set global figure properties
import matplotlib as mpl
mpl.rcParams.update({'axes.titlesize' : 20,
                     'axes.labelsize' : 18,
                     'legend.fontsize': 16})

# Set default Seaborn plotting style
sns.set_style('white')

-----

[[Back to TOC]](#Table-of-Contents)

## Time

TEXT

https://docs.python.org/3/library/datetime.html

-----

In [2]:
import time as tm

In [3]:
print(tm.ctime(0))

Thu Jan  1 00:00:00 1970

In [4]:
print(tm.ctime(1E9))

Sun Sep  9 01:46:40 2001

In [5]:
print(tm.ctime(1E10))

Sat Nov 20 17:46:40 2286

In [6]:
tm.localtime()

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=22, tm_hour=1, tm_min=43, tm_sec=50, tm_wday=2, tm_yday=326, tm_isdst=0)

In [7]:
print(tm.localtime())
print(tm.time())


tm.gmtime()

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=22, tm_hour=1, tm_min=43, tm_sec=50, tm_wday=2, tm_yday=326, tm_isdst=0)
1511315030.1785784

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=22, tm_hour=1, tm_min=43, tm_sec=50, tm_wday=2, tm_yday=326, tm_isdst=0)

In [8]:
tm.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [9]:
tm.mktime(tm.localtime())

1511315030.0

In [10]:
print(tm.localtime())
a = tm.localtime()
a.tm_gmtoff

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=22, tm_hour=1, tm_min=43, tm_sec=50, tm_wday=2, tm_yday=326, tm_isdst=0)

0

In [13]:
from datetime import datetime as dt

from datetime import time

now = time()

print(dt.now())
print(dt.utcnow())
print(time(10, 2, 12, 2300))

2017-11-22 01:44:35.716091
2017-11-22 01:44:35.716986
10:02:12.002300

In [15]:
from dateutil import tz

HERE = tz.tzlocal()

lcl = tz.gettz('America/Chicago')

In [16]:
tz.tzutc()

tzutc()

In [17]:
dt.now(tz.tzutc())

datetime.datetime(2017, 11, 22, 1, 44, 54, 176847, tzinfo=tzutc())

In [18]:
dt.now(tz.tzoffset('America/Chicago', -6 * 3600))

datetime.datetime(2017, 11, 21, 19, 44, 54, 552697, tzinfo=tzoffset('America/Chicago', -21600))

In [19]:
dt.now(tz.tzoffset('America/Chicago', 6)).astimezone()

datetime.datetime(2017, 11, 22, 1, 44, 54, 784465, tzinfo=datetime.timezone(datetime.timedelta(0), 'UTC'))

In [20]:
dt.now(tz.tzoffset('America/Chicago', 6)).tzname()

'America/Chicago'

In [23]:
dt.now(tz.gettz('Europe/Madrid')).isoformat()

'2017-11-22T02:45:01.802655+01:00'

In [24]:
dt.now(tz.gettz('America/Chicago')).isoformat()

'2017-11-21T19:45:02.074630-06:00'

In [25]:
dt.now(tz.gettz('America/Chicago'))

datetime.datetime(2017, 11, 21, 19, 45, 2, 298063, tzinfo=tzfile('/usr/share/zoneinfo/America/Chicago'))

In [26]:
from datetime import timezone

#timezone(HERE)

print(lcl)

print(timezone.utcoffset(lcl))# tz.gettz('America/Chicago')))

tzfile('/usr/share/zoneinfo/America/Chicago')

TypeError: descriptor 'utcoffset' requires a 'datetime.timezone' object but received a 'tzfile'

In [28]:
print(dt.now(HERE).isoformat())

2017-11-22T01:45:11.060466+00:00

In [29]:
print(dt.now(lcl).isoformat())

2017-11-21T19:45:15.612152-06:00

In [31]:
dt.now(lcl)

datetime.datetime(2017, 11, 21, 19, 45, 47, 366889, tzinfo=tzfile('/usr/share/zoneinfo/America/Chicago'))

In [33]:
print(dt.now(tz.gettz("Asia/Tokyo")).isoformat())
print(dt.now(tz.gettz("Asia/Dubai")).isoformat())
print(dt.now(tz.gettz("Europe/London")).isoformat())
print(dt.now(tz.gettz("America/Chicago")).isoformat())

2017-11-22T10:45:59.085696+09:00
2017-11-22T05:45:59.087180+04:00
2017-11-22T01:45:59.088607+00:00
2017-11-21T19:45:59.089745-06:00

-----

[[Back to TOC]](#Table-of-Contents)

## XXX

TEXT


https://catalog.data.gov/dataset/fdic-failed-bank-list/resource/608b288c-46bb-493c-a8ff-a2a0d05b51a0

-----

In [34]:
from datetime import timedelta

today = dt.today()

print(today)


print(today - timedelta(hours=24))
print(today - timedelta(weeks=52))

2017-11-22 01:46:05.533346
2017-11-21 01:46:05.533346
2016-11-23 01:46:05.533346

In [36]:
from datetime import date 
today = date.today()

In [37]:
today

datetime.date(2017, 11, 22)

In [38]:
df = pd.read_csv('http://www.fdic.gov/bank/individual/failed/banklist.csv', parse_dates=[5])

In [39]:
df.sample(5)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
436,Integrity Bank,Jupiter,FL,57604,Stonegate Bank,2009-07-31,20-Aug-12
231,WestBridge Bank and Trust Company,Chesterfield,MO,58205,Midland States Bank,2010-10-15,9-Feb-17
346,1st American State Bank of Minnesota,Hancock,MN,15448,"Community Development Bank, FSB",2010-02-05,1-Nov-13
247,Pacific State Bank,Stockton,CA,27090,"Rabobank, N.A.",2010-08-20,12-Sep-12
93,"Inter Savings Bank, fsb D/B/A InterBank, fsb",Maple Grove,MN,31495,Great Southern Bank,2012-04-27,17-May-13

In [40]:
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,2017-10-13,13-Oct-17
1,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",2017-05-26,26-Jul-17
2,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,2017-05-05,26-Jul-17
3,First NBC Bank,New Orleans,LA,58302,Whitney Bank,2017-04-28,26-Jul-17
4,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,2017-03-03,18-May-17

In [41]:
df.describe()

               CERT
count    554.000000
mean   31704.362816
std    16416.536733
min       91.000000
25%    20302.500000
50%    32201.500000
75%    35368.000000
max    58701.000000

In [47]:
pd.to_datetime(df['Closing Date'], format='%d-%b-%y')

0     2017-10-13
1     2017-05-26
2     2017-05-05
3     2017-04-28
4     2017-03-03
5     2017-01-27
6     2017-01-13
7     2016-09-23
8     2016-08-19
9     2016-05-06
10    2016-04-29
11    2016-03-11
12    2015-10-02
13    2015-10-02
14    2015-07-10
15    2015-05-08
16    2015-02-27
17    2015-02-13
18    2015-01-23
19    2015-01-16
20    2014-12-19
21    2014-11-07
22    2014-10-24
23    2014-10-17
24    2014-07-25
25    2014-07-18
26    2014-06-27
27    2014-06-20
28    2014-06-20
29    2014-05-30
         ...
524   2008-05-09
525   2008-03-07
526   2008-01-25
527   2007-10-04
528   2007-09-28
529   2007-02-02
530   2004-06-25
531   2004-03-19
532   2004-03-12
533   2004-02-14
534   2003-11-14
535   2003-05-09
536   2003-02-07
537   2002-12-17
538   2002-11-08
539   2002-09-30
540   2002-06-27
541   2002-06-26
542   2002-03-28
543   2002-03-01
544   2002-02-07
545   2002-02-01
546   2002-01-18
547   2002-01-11
548   2001-09-07
549   2001-07-27
550   2001-05-03
551   2001-02-02
552   2000-12-14
553   2000-10-13
Name: Closing Date, dtype: datetime64[ns]

In [48]:
aa = '13-Oct-00'
pd.to_datetime(aa, format='%d-%b-%y')

Timestamp('2000-10-13 00:00:00')

In [49]:
cd = pd.to_datetime(df['Closing Date'], format='%d-%b-%y')

In [50]:
cd.dt.values[1:5]

DatetimeIndex(['2017-05-26', '2017-05-05', '2017-04-28', '2017-03-03'], dtype='datetime64[ns]', name='Closing Date', freq=None)

-----

<font color='red' size = '5'> Student Exercise </font>


In the preceding cells, we introduced XXX and used this approach to fit a model to data with uncertainty. Now that you have run the notebook, go back and make the following changes to see how the results change.

1. Change the 
1. Change the 
2. Try using a
3. Try changing 

-----

## Ancillary Information

The following links are to additional documentation that you might find helpful in learning this material. Reading these web-accessible documents is completely optional.

12. Wikipedia article on [Time Zone Database][wtzd]
1. Python [`time` module][ptm] and [Python `datetime` module][pdtm]
2. Informative tutorial introducing Python [time and datetime][tad] modules
3. Summary sheet of [string time formatting codes][so]
4. A Python [date and time][dt1] tutorial
4. Another Python [date and time][dt2] tutorial
4. Another Python [date and time][dt3] tutorial
4. Another Python [date and time][dt4] tutorial
4. And another Python [date and time][dt5] tutorial
5. A tutorial on using Python [string format methods for working with times and dates][tsft]
6. Set of tutorial on doing basic time and date operations, including [getting the current time and date][ptct]
7. Python tutorial on [working with times and dates][ptt] including the use of Pandas.
8. Tutorial on using pandas for times and dates, [part 1][ptd1] and [part 2][ptd2]
111. Review of the Python [DateTime][pdtm] module
112. Documentation for the Python [Dateutil][dud] module

-----

[wtzd]: https://en.wikipedia.org/wiki/Tz_database

[ptm]: https://docs.python.org/3/library/time.html
[pdtm]: https://docs.python.org/3/library/datetime.html

[tad]: http://o7planning.org/en/11443/python-date-time-tutorial
[so]: http://strftime.org

[dt1]: https://intellipaat.com/tutorial/python-tutorial/python-date-and-time/
[dt2]: https://www.webcodegeeks.com/python/python-datetime-tutorial/

[ptct]: https://www.saltycrane.com/blog/2008/06/how-to-get-current-date-and-time-in/
[dt3]: http://www.pythonforbeginners.com/basics/python-datetime-timedelta/

[tsft]: https://www.tutorialspoint.com/python/time_strptime.htm
[dt4]: https://www.tutorialspoint.com/python/python_date_time.htm
[dt5]: https://opensource.com/article/17/5/understanding-datetime-python-primer
[ptt]: http://www.marcelscharth.com/python/time.html
[ptd1]: http://earthpy.org/pandas-basics.html
[ptd2]: http://earthpy.org/time_series_analysis_with_pandas_part_2.html

[dud]: https://dateutil.readthedocs.io/en/stable/
[pdtm]: https://pymotw.com/2/datetime/

**&copy; 2017: Robert J. Brunner at the University of Illinois.**

This notebook is released under the [Creative Commons license CC BY-NC-SA 4.0][ll]. Any reproduction, adaptation, distribution, dissemination or making available of this notebook for commercial use is not allowed unless authorized in writing by the copyright holder.

[ll]: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode