# Working with Dates and Times

-----

In this notebook, we introduce how to work efficiently with dates and times in Python.

-----

## Table of Contents

[Time](#Working-with-Times)

[Datetime](#Datetime)

[Timezone](#Timezone)

[Timedelta](#Timedelta)

-----

Before proceeding with the rest of this notebook, we first include the notebook setup code.

-----

In [1]:
# Set up Notebook

% matplotlib inline

# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# These two lines suppress warnings that sometimes
# occur when making visualizations
import warnings
warnings.filterwarnings('ignore')

# Set global figure properties
import matplotlib as mpl
mpl.rcParams.update({'axes.titlesize' : 20,
                     'axes.labelsize' : 18,
                     'legend.fontsize': 16})

# Set default Seaborn plotting style
sns.set_style('white')

-----

[[Back to TOC]](#Table-of-Contents)

## Time

TEXT

https://docs.python.org/3/library/datetime.html

-----

In [2]:
import time as tm

In [3]:
print(tm.ctime(0))

Thu Jan  1 00:00:00 1970

In [4]:
print(tm.ctime(1E9))

Sun Sep  9 01:46:40 2001

In [5]:
print(tm.ctime(1E10))

Sat Nov 20 17:46:40 2286

In [6]:
tm.localtime()

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=27, tm_hour=1, tm_min=4, tm_sec=56, tm_wday=0, tm_yday=331, tm_isdst=0)

In [7]:
print(tm.localtime())
print(tm.time())


tm.gmtime()

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=27, tm_hour=1, tm_min=4, tm_sec=56, tm_wday=0, tm_yday=331, tm_isdst=0)
1511744696.5592897

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=27, tm_hour=1, tm_min=4, tm_sec=56, tm_wday=0, tm_yday=331, tm_isdst=0)

In [8]:
tm.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [9]:
tm.mktime(tm.localtime())

1511744696.0

In [10]:
print(tm.localtime())
a = tm.localtime()
a.tm_gmtoff

time.struct_time(tm_year=2017, tm_mon=11, tm_mday=27, tm_hour=1, tm_min=4, tm_sec=56, tm_wday=0, tm_yday=331, tm_isdst=0)

0

-----

## Datetime

-----

In [11]:
from datetime import datetime as dt

from datetime import time

now = time()

print(dt.now())
print(dt.utcnow())
print(time(10, 2, 12, 2300))

2017-11-27 01:04:56.634394
2017-11-27 01:04:56.635214
10:02:12.002300

In [12]:
from datetime import date 
today = date.today()

In [13]:
today

datetime.date(2017, 11, 27)

-----

## Timezone

-----

In [14]:
from dateutil import tz

HERE = tz.tzlocal()

lcl = tz.gettz('America/Chicago')

In [15]:
print(dt.now(HERE).isoformat())

2017-11-27T01:04:56.721455+00:00

In [16]:
print(dt.now(lcl).isoformat())

2017-11-26T19:04:56.741208-06:00

In [17]:
dt.now(lcl)

datetime.datetime(2017, 11, 26, 19, 4, 56, 759521, tzinfo=tzfile('/usr/share/zoneinfo/America/Chicago'))

In [18]:
print(dt.now(tz.gettz("Asia/Tokyo")).isoformat())
print(dt.now(tz.gettz("Asia/Dubai")).isoformat())
print(dt.now(tz.gettz("Europe/London")).isoformat())
print(dt.now(tz.gettz("America/Chicago")).isoformat())

2017-11-27T10:04:56.779405+09:00
2017-11-27T05:04:56.780138+04:00
2017-11-27T01:04:56.781436+00:00
2017-11-26T19:04:56.782500-06:00

-----

TEXT

-----

In [19]:
dt.now(tz.tzoffset('America/Chicago', 6)).tzname()

'America/Chicago'

In [20]:
dt.now(tz.tzoffset('America/Chicago', -6 * 3600))

datetime.datetime(2017, 11, 26, 19, 4, 56, 816814, tzinfo=tzoffset('America/Chicago', -21600))

In [21]:
dt.now(tz.tzoffset('America/Chicago', 6)).astimezone()

datetime.datetime(2017, 11, 27, 1, 4, 56, 836716, tzinfo=datetime.timezone(datetime.timedelta(0), 'UTC'))

In [22]:
dt.now(tz.gettz('Europe/Madrid')).isoformat()

'2017-11-27T02:04:56.855608+01:00'

In [23]:
dt.now(tz.gettz('America/Chicago')).isoformat()

'2017-11-26T19:04:56.875294-06:00'

In [24]:
dt.now(tz.gettz('America/Chicago'))

datetime.datetime(2017, 11, 26, 19, 4, 56, 893373, tzinfo=tzfile('/usr/share/zoneinfo/America/Chicago'))

-----

[[Back to TOC]](#Table-of-Contents)

## TimeDelta

TEXT


https://catalog.data.gov/dataset/fdic-failed-bank-list/resource/608b288c-46bb-493c-a8ff-a2a0d05b51a0

-----

In [25]:
from datetime import timedelta

today = dt.today()
print(today)

2017-11-27 01:04:56.912229

In [26]:
print(today - timedelta(hours=24))

2017-11-26 01:04:56.912229

In [27]:
print(today - timedelta(weeks=52))

2016-11-28 01:04:56.912229

In [28]:
print(today + timedelta(weeks=104))

2019-11-25 01:04:56.912229

In [29]:
print((today + timedelta(weeks=104)).astimezone(tz.gettz('America/Chicago')))

2019-11-24 19:04:56.912229-06:00

-----

<font color='red' size = '5'> Student Exercise </font>


In the preceding cells, we introduced XXX and used this approach to fit a model to data with uncertainty. Now that you have run the notebook, go back and make the following changes to see how the results change.

1. Change the 
1. Change the 
2. Try using a
3. Try changing 

-----

## Ancillary Information

The following links are to additional documentation that you might find helpful in learning this material. Reading these web-accessible documents is completely optional.

12. Wikipedia article on [Time Zone Database][wtzd]
1. Python [`time` module][ptm] and [Python `datetime` module][pdtm]
2. Informative tutorial introducing Python [time and datetime][tad] modules
3. Summary sheet of [string time formatting codes][so]
4. A Python [date and time][dt1] tutorial
4. Another Python [date and time][dt2] tutorial
4. Another Python [date and time][dt3] tutorial
4. Another Python [date and time][dt4] tutorial
4. And another Python [date and time][dt5] tutorial
5. A tutorial on using Python [string format methods for working with times and dates][tsft]
6. Set of tutorial on doing basic time and date operations, including [getting the current time and date][ptct]
7. Python tutorial on [working with times and dates][ptt] including the use of Pandas.
8. Tutorial on using pandas for times and dates, [part 1][ptd1] and [part 2][ptd2]
111. Review of the Python [DateTime][pdtm] module
112. Documentation for the Python [Dateutil][dud] module

-----

[wtzd]: https://en.wikipedia.org/wiki/Tz_database

[ptm]: https://docs.python.org/3/library/time.html
[pdtm]: https://docs.python.org/3/library/datetime.html

[tad]: http://o7planning.org/en/11443/python-date-time-tutorial
[so]: http://strftime.org

[dt1]: https://intellipaat.com/tutorial/python-tutorial/python-date-and-time/
[dt2]: https://www.webcodegeeks.com/python/python-datetime-tutorial/

[ptct]: https://www.saltycrane.com/blog/2008/06/how-to-get-current-date-and-time-in/
[dt3]: http://www.pythonforbeginners.com/basics/python-datetime-timedelta/

[tsft]: https://www.tutorialspoint.com/python/time_strptime.htm
[dt4]: https://www.tutorialspoint.com/python/python_date_time.htm
[dt5]: https://opensource.com/article/17/5/understanding-datetime-python-primer
[ptt]: http://www.marcelscharth.com/python/time.html
[ptd1]: http://earthpy.org/pandas-basics.html
[ptd2]: http://earthpy.org/time_series_analysis_with_pandas_part_2.html

[dud]: https://dateutil.readthedocs.io/en/stable/
[pdtm]: https://pymotw.com/2/datetime/

**&copy; 2017: Robert J. Brunner at the University of Illinois.**

This notebook is released under the [Creative Commons license CC BY-NC-SA 4.0][ll]. Any reproduction, adaptation, distribution, dissemination or making available of this notebook for commercial use is not allowed unless authorized in writing by the copyright holder.

[ll]: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode